# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2024 Emily "TTG" Banerjee <prs.ttg+kml@pm.me>

[submodule "keirmael/kernel/vendor/Hyper"]
	path = keirmael/kernel/vendor/Hyper
	url = https://github.com/UltraOS/Hyper
