# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2024 Emily "TTG" Banerjee <prs.ttg+kml@pm.me>

*.o
*.o.*
*.obj

*.a
*.a.*
*.lib

*.out
*.exe

*.elf

*.bin

*.iso
*.img

keirmael/kernel/vendor/build

bochsrc.bxrc

.idea/
